/* Archivo Base */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
body{
  margin: 0;
  background-color: $color-bg;
  color: $color-fg;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
h2{
  margin-bottom: .5rem;
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  display: block;
}
ul{
  padding: 0;
    margin: 0;
}
p{
  margin-bottom: 1.5rem;
}
span{
  display: inline-block;
  margin-bottom: 2rem;
}
label,input,textarea{
    display: block;
}