/* Estilos de tipografia*/
body{
    font-family: $font-family;
    font-size: var(--font-size-normal);
    font-weight: $weight-normal;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-title;
    letter-spacing: $kerning-heading;
    font-weight: $weight-bold;
    line-height: $line-height;
    a{
        font-size: inherit;
        color: inherit;
    }
}
h1{
    
    font-size: var(--font-size-h1);
    letter-spacing: normal;
    span{
        font-size: inherit;
    }
}
h2{
    font-size: var(--font-size-h2);
    color: $color-accent;
}
h3{
    font-size: var(--font-size-h3);
    color: $color-accent;
}
h4{
    font-size: var(--font-size-small);
    letter-spacing: normal;
    line-height: normal;
    color: $color-accent;
}
a{
    font-size: var(--font-size-small);
}
p{
    line-height: 1.8;
    a{
        font-size: inherit;
    }
}
span{
    font-size: var(--font-size-small);
}