/* Placeholders para comentarios/autor */

// Contenedor
%content{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
    color: $color-fg-second;
    @include from (medium){
        grid-template-columns: auto 1fr;
        justify-items: start;
    }
}
%img{
    height: $header-size;
    border-radius: 50%;
}