//Font
    $font-family:       'Open Sans', sans-serif; //body
    $font-title:        'Montserrat', sans-serif; //title

    $weight-light:      300;
    $weight-normal:     400;
    $weight-semi-bold:  600;
    $weight-bold:       700;

    $line-height:       2.625rem;
    $kerning-heading:   .1rem; 

//Font-size
    :root{
        --font-size-medium:1.1rem;
        --font-size-normal: 1rem;
        --font-size-small:.875rem;
        --font-size-h1: 2rem;
        --font-size-h2:1.8rem;
        --font-size-h2-medium:1.4rem;
        --font-size-h3: 1rem;
        
        @include from(medium){
            --font-size-h1: 2rem;
        }
        @include from(large){
            --font-size-h1:3rem;
            --font-size-medium:1.2rem;
        }
    }
//Color palette
    $color-bg:          #ffffff; //section / text
    $color-bg-dark:     #191b1d; //section
    $color-bg-footer:   #151719; //footer

    $color-fg:          #89909B; //text general
    $color-fg-second:   #6E6E6E; //text general-second
    $color-accent:      #e32249; //section 
    $color-accent-bg:   #8f0029; //button

    $color-accent-text: #ffbfd1; //text-accent
    $color-form:        #3F464B;  //bg input form
    $colorbg-comment:   #e6e8eb;


    

    
//size 
    $container:          1100px; // Layout Container
    $header-size:        4rem;   // Header
    $gap-size :          2rem;   
//Z-Index
    $z-index-dropdown:             1000;
    $z-index-sticky:               1020;
    $z-index-fixed:                1030;
    $z-index-modal-backdrop:       1040;
    $z-index-modal:                1050;
    $z-index-popover:              1060;
    $z-index-tooltip:              1070;
    

