/* Author */
.author{
    @extend %content;
}
.author__image{
    @include from (medium){
        grid-row: 1/3;
    }
}
.author__img{
    @extend %img;
}
.author__text{
    p{
        margin:0;
    }
}