/* Banner */
.banner{
    position: relative;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-footer;
    @include from (large){
        height: 100vh;
    }
    
}
.banner__img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}
.banner__content{
    position: relative;
    text-align: center;
    color: $color-bg;
    @include from(medium){
        width: 70%;
    }
}       
.banner__title{
    margin-bottom: 1rem;
    line-height: 1.5;
    span{
            color: $color-accent;
            margin: 0;
        }
}

.banner__text{
    font-size: var(--font-size-small);
    line-height: 2;
    @include from (medium){
        font-size: var(--font-size-normal);
    }
}