
.comment-form__container{
    margin-top: 2rem;
    @include from (medium){
        display: grid;
        grid-template-columns: 5% 2fr 1fr;
    }
    @include from (large){
        display: grid;
        grid-template-columns: 15% 1fr 1fr;
    }
}