.comment-two__container{
    @include from (medium){
        display: grid;
        grid-template-columns: 10% auto 10%;
    }
}
.comment-two__content{
   display: grid;
   grid-gap: $gap-size; 
   
}
.reply{
    margin-left: 4rem;
}
.comment-two{
    @extend %content;
    justify-items: start;
}
.comment-two__image{
    @include from (medium){
        grid-row: 1/3;
    }
}
.comment-two__img{
    display: none;
     @extend %img;
    @include from (medium){
        display: block;
    }
}
.comment-two__date{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        margin: 0;
        color: $color-accent;
        font-weight: $weight-semi-bold;
    }
    time::after{
        content: '/';
        padding: 0 .3rem;
    }
}
.comment-two__text{
    border-bottom: 1px solid $color-fg;
}