/* Form */
%form-box{
    display: flex;
    flex-direction: column;
}
.form__box{
    @extend %form-box;
    @include from (medium){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        .form__input{
            flex-basis: 80%;
            margin: 0;
        }
        .form__label{
            margin: 0;
            &--top{
                align-self: flex-start;
                margin-top: 1rem;
            }
        }
        .button{
            margin-left: 20%;
        }
    }
}
.box-comment{
    @extend %form-box;
}

.form__label{
    color: $color-bg;
    margin-bottom: 1rem;
    span{
        margin: 0;
        color: $color-accent;
    }
}
.form__label--comment{
    color: $color-fg-second;
    font-weight: $weight-semi-bold;
}
.form__input{
    border: none;
    background-color: $color-form;
    margin-bottom: 1.5rem;
    color: $color-bg;
    padding: 1rem;
    &:focus{
        background-color:$color-accent;
    }
}

.button{
    text-transform: uppercase;
    border: none;
    background-color: $color-accent;
    color: $color-bg;
    padding: 1rem;
    width: 40%;
    cursor: pointer;
    font-weight: $weight-bold;
    letter-spacing: $kerning-heading;
    &:hover{
        background-color: $color-bg;
        color: $color-bg-dark;
    }
}
// style js
.form__error{
    color: $color-accent;
}
.form__none{
    display: none;
}
.form__is-active{
    display: block;
}