.gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.4rem;
    padding: 1em;
    &__box{
        box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 28rem;
        @include from (medium){
            height: 20rem;
        }
    }
    
    @include from (medium){
        grid-template-columns: repeat(3,1fr);
        height: 45rem;
        overflow: auto;
    }
    @include from (large){
        grid-template-columns: repeat(4,1fr);
        
    }
}
.gallery__img{
    object-fit: cover;
    // aspect-ratio: 3/4;
    // aspect-ratio: 2/3;
    object-position: center center;
    height: 100%;
}
.gallery__item{
    padding: .5em .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-accent;
    font-weight: $weight-semi-bold;
    font-family: $font-title;
    & p{
        margin-bottom: 0;
    }
    & div{
       display: flex;
       align-items: center;
    }
    & i{
        padding-right: .3em;
    }
}
.gallery__item:hover{
    background-color: $color-accent-bg;
    color: $color-bg;
}