/* Menu */
.menu-toggle{
    color: $color-bg;
    cursor: pointer;
    font-size: 1.5rem;
}
.nav{
    position: fixed;
    z-index: $z-index-fixed;
    background: $color-bg-footer;
    top: $header-size;
    right: -100vw; //para que se oculte y aparesca de la derecha
    transition: right .3s;
    
    &.show{
        right: 0;
    }
}
.menu{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: .5rem;
}
.menu__item{
    padding: .5rem 1.5rem;
}
.menu__link{
    border-bottom: 1px dotted $color-bg;
    width: 100%;
    padding-bottom: .5rem;
    color: $color-bg;
    // font-weight: $weight-semi-bold;
    &:hover{
    color: $color-accent;
    }
}

/* Large */
@include from (large){
    .menu-toggle{
        display: none;
    }
    .nav{
        // right: 0;
        position: static;
        // left: 0;
        // top: 0;
    }
    .menu{
        flex-direction: row;
    }
    .menu__link{
        border: none;
    }
}
