/* Estilos que se van a repetir */

.font-medium{
    font-size: var(--font-size-medium);
    font-weight: $weight-light;
}
.text-style{
    text-align: center;
    @include from (medium){
        text-align: left;
    }
}
.bgcolor-dark{
    background-color: $color-bg-dark;
}
.bgcolor-footer{
    background-color: $color-bg-footer;
}
.bgcolor-accent{
    background-color: $color-accent;
}
.bgcolor-comment{
    background-color: $colorbg-comment;
}
.credits{
    margin-bottom: 1rem;
    @include from (medium){
        margin: 0;
    }
    p{
        margin: 0;
    }
    a{
        display: inline;
        color: $color-accent;
    }
}