/* Post Public */
.post-public__header{
    @include from (medium){
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .post-public__date{
            display: flex;
            flex-direction: column;
            flex-basis: 20%;
            border-right: 1px solid $color-fg;
            span{
                margin: .3rem;
                font-weight: $weight-semi-bold;
            }
        }
        .post-public__title{
            padding-right: 5rem;
        }
    }
}
.post-public__title{
    font-weight: $weight-normal;
    line-height: 1.1;
    color: $color-bg-footer;
    padding-left: 1rem;
}
/* Post content */
.post-public__content{
    margin-top: 2rem;
    color: $color-fg-second;
    @include from (medium){
        display: grid;
        grid-template-columns: 15% auto 10%;
        grid-template-rows: auto auto;
    }
}
.post-public__text{
    grid-column: 2/3;
}
.post-public__author{
    grid-row: 2/3;
    grid-column: 2/3;
    border-top: 1px solid $color-fg;
    border-bottom: 1px solid $color-fg;
    padding: 2rem 0;
}