/* post */
.post{
    color: $color-bg;
    display: grid;
    grid-gap: $gap-size;

    text-align: center;
}
// caja
.post__box{
    
    @include from (medium){
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-column-gap: 1rem;
    }
    @include from (large){
        grid-column-gap: $gap-size;
    }
}
// imagen
.post__img{
    display: none;
    width: $header-size;
    @include from (medium){
        display: block;
        margin-top: .7rem;
        img{
            border-radius: 50%;
        }
    }
}
// Contenido
.post__content{
    display: grid;
    grid-template-rows: repeat(3,auto);
    @include from (medium){
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(2,auto);
        text-align: left;
        grid-column-gap: 1rem;
    }
    @include from (large){
        grid-column-gap: $gap-size;
    }
}
.post__title{
    font-size: var(--font-size-h2);
    margin-bottom: 1.5rem;
    color: $color-bg;
    &:hover{
        color: $color-accent-text;
    }
}
.post__text{
    color: $color-accent-text;
    a{
        color: $color-bg;
        font-weight: $weight-semi-bold;
        display: inline;
        i{
            margin-left: .3rem;
        }
        &:hover{
            color: $color-accent-bg;
        }
    }
}

.post__data{
    grid-row: 2/3;
    margin-bottom: 1.5rem;
    display: inline-block;
    time{
        color: $color-bg;
        font-weight: $weight-semi-bold;
        margin-top: .7rem;
    }
        @include from (medium){
            display: block;
        }
    
    span{
        margin: 0;
    }
    span::before{
        content: '/';
        @include from (medium){
            content: '';
        }
    }
    @include from (medium){
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 0;
        margin-top: .7rem;
    }
}