/* Process */
.process__title{
    color: $color-fg-second;
    font-size: var(--font-size-h2-medium);
}
.process__box{
    color:$color-fg-second;
    display: grid;
    text-align: left;
    @include from (medium){
        grid-template-columns: repeat(2,1fr);
        grid-gap: $gap-size;
    }
    @include from (large){
        grid-template-columns: repeat(4,1fr);
    }
}