/* Service*/
.service{
    display: grid;
    text-align: left;
    @include from (medium){
        grid-template-columns: repeat(2,1fr);
        grid-gap: $gap-size;
    }
    @include from (large){
        grid-template-columns: repeat(3,1fr);
    }
}
.service__info{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    i{
        margin-right: .6rem;
        color: $color-bg;
    }
    h3{
        color: $color-bg;
    }
}