/* Social media */
.social{
    display: flex;
    font-size: var(--font-size-small);
    
    .social__item{
        margin-right: 1.5rem;
    }
    .social__item:last-of-type{
        margin: 0;
    }
    .social__link{
        color:$color-fg;
        &:hover{
            color: $color-accent;
        }
    }
    .social__link--second{
        color: $color-accent;
        &:hover{
            color: $color-bg;
        }
    }
    
}