/* Team */
.team__title{
    color: $color-fg-second;
    font-size: var(--font-size-h2-medium);
}
.team__box{
    display: grid;
    grid-gap: $gap-size;
    color: $color-fg-second;
    @include from (medium){
        grid-template-columns: repeat(2,1fr);
    }
    @include from (large){
        grid-template-columns: repeat(4,1fr);
    }
}
.team__description{
  margin: .5rem 0 .8rem 0;  
  span{
      margin: 0;
  }
}