.text-header{
    color: $color-fg-second;
    display: grid;
    @include from (large){
        grid-template-columns: repeat(3,1fr);
        grid-gap: $gap-size;
    }
    &__text{
        grid-column: 2/-1;
    }
}