/* Contact container */
.contact__container{
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-gap: $gap-size;
    @include from (large){
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
}