/* Footer */

.footer__content{
    // line-height: $header-size;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include from (medium){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}