/*Estilos generales para el wrapper del sitio*/
.wrapper{
    max-width: 450px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
    @include from (medium){
        max-width: 850px;
    }
    @include from (large){
        max-width: $container;
    }
}