@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600,700&display=swap");
:root {
  --font-size-medium:1.1rem;
  --font-size-normal: 1rem;
  --font-size-small:.875rem;
  --font-size-h1: 2rem;
  --font-size-h2:1.8rem;
  --font-size-h2-medium:1.4rem;
  --font-size-h3: 1rem;
}
@media screen and (min-width: 640px) {
  :root {
    --font-size-h1: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --font-size-h1:3rem;
    --font-size-medium:1.2rem;
  }
}

/* Placeholders para comentarios/autor */
.author, .comment-two, .comment {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-gap: 1rem;
  color: #6E6E6E;
}
@media screen and (min-width: 640px) {
  .author, .comment-two, .comment {
    -ms-grid-columns: auto 1rem 1fr;
    grid-template-columns: auto 1fr;
    justify-items: start;
  }
}

.author__img, .comment-two__img, .comment__img {
  height: 4rem;
  border-radius: 50%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: normal;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Archivo Base */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #89909B;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 1.5rem;
}

span {
  display: inline-block;
  margin-bottom: 2rem;
}

label, input, textarea {
  display: block;
}

/* Estilos de tipografia*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-normal);
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 700;
  line-height: 2.625rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-size: inherit;
  color: inherit;
}

h1 {
  font-size: var(--font-size-h1);
  letter-spacing: normal;
}
h1 span {
  font-size: inherit;
}

h2 {
  font-size: var(--font-size-h2);
  color: #e32249;
}

h3 {
  font-size: var(--font-size-h3);
  color: #e32249;
}

h4 {
  font-size: var(--font-size-small);
  letter-spacing: normal;
  line-height: normal;
  color: #e32249;
}

a {
  font-size: var(--font-size-small);
}

p {
  line-height: 1.8;
}
p a {
  font-size: inherit;
}

span {
  font-size: var(--font-size-small);
}

/*Estilos generales para el wrapper del sitio*/
.wrapper {
  max-width: 450px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
@media screen and (min-width: 640px) {
  .wrapper {
    max-width: 850px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1100px;
  }
}

/* Grid */
.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

/* Section */
section {
  padding: 7rem 0;
}
section.map {
  padding: 0;
}

/* Contact container */
.contact__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 2rem auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
}
@media screen and (min-width: 1024px) {
  .contact__container {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .contact__container > *:nth-child(1) {
    -ms-grid-row:1;
    -ms-grid-column:1;
  }
  .contact__container > *:nth-child(2) {
    -ms-grid-row:1;
    -ms-grid-column:3;
  }
}

/* Footer */
.footer__content {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 640px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Testimonials layout */
.comments {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}
@media screen and (min-width: 640px) {
  .comments {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Header */
.header {
  height: 4rem;
  background: #151719;
  opacity: 0.8;
  height: 4rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1030;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
}
.logo {
  width: 8rem;
}

/* Menu */
.menu-toggle {
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav {
  position: fixed;
  z-index: 1030;
  background: #151719;
  top: 4rem;
  right: -100vw;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}
.nav.show {
  right: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 0.5rem;
}

.menu__item {
  padding: 0.5rem 1.5rem;
}

.menu__link {
  border-bottom: 1px dotted #ffffff;
  width: 100%;
  padding-bottom: 0.5rem;
  color: #ffffff;
}
.menu__link:hover {
  color: #e32249;
}

/* Large */
@media screen and (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }

  .nav {
    position: static;
  }

  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu__link {
    border: none;
  }
}
/* Banner */
.banner {
  position: relative;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #151719;
}
@media screen and (min-width: 1024px) {
  .banner {
    height: 100vh;
  }
}

.banner__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.5;
}

.banner__content {
  position: relative;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 640px) {
  .banner__content {
    width: 70%;
  }
}

.banner__title {
  margin-bottom: 1rem;
  line-height: 1.5;
}
.banner__title span {
  color: #e32249;
  margin: 0;
}

.banner__text {
  font-size: var(--font-size-small);
  line-height: 2;
}
@media screen and (min-width: 640px) {
  .banner__text {
    font-size: var(--font-size-normal);
  }
}

/* Service*/
.service {
  display: -ms-grid;
  display: grid;
  text-align: left;
}
@media screen and (min-width: 640px) {
  .service {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .service {
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

.service__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.service__info i {
  margin-right: 0.6rem;
  color: #ffffff;
}
.service__info h3 {
  color: #ffffff;
}

/* Estilos que se van a repetir */
.font-medium {
  font-size: var(--font-size-medium);
  font-weight: 300;
}

.text-style {
  text-align: center;
}
@media screen and (min-width: 640px) {
  .text-style {
    text-align: left;
  }
}

.bgcolor-dark {
  background-color: #191b1d;
}

.bgcolor-footer {
  background-color: #151719;
}

.bgcolor-accent {
  background-color: #e32249;
}

.bgcolor-comment {
  background-color: #e6e8eb;
}

.credits {
  margin-bottom: 1rem;
}
@media screen and (min-width: 640px) {
  .credits {
    margin: 0;
  }
}
.credits p {
  margin: 0;
}
.credits a {
  display: inline;
  color: #e32249;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2.4rem;
  padding: 1em;
}
.gallery__box {
  -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
          box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 28rem;
}
@media screen and (min-width: 640px) {
  .gallery__box {
    height: 20rem;
  }
}
@media screen and (min-width: 640px) {
  .gallery {
    -ms-grid-columns: 1fr 2.4rem 1fr 2.4rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    height: 45rem;
    overflow: auto;
  }
}
@media screen and (min-width: 1024px) {
  .gallery {
    -ms-grid-columns: 1fr 2.4rem 1fr 2.4rem 1fr 2.4rem 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 100%;
}

.gallery__item {
  padding: 0.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e32249;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.gallery__item p {
  margin-bottom: 0;
}
.gallery__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__item i {
  padding-right: 0.3em;
}

.gallery__item:hover {
  background-color: #8f0029;
  color: #ffffff;
}

/* blog */
.blog {
  color: #ffffff;
}

.blog__title {
  color: inherit;
}

/* post */
.post {
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .post__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1rem auto;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .post__box {
    grid-column-gap: 2rem;
  }
}

.post__img {
  display: none;
  width: 4rem;
}
@media screen and (min-width: 640px) {
  .post__img {
    display: block;
    margin-top: 0.7rem;
  }
  .post__img img {
    border-radius: 50%;
  }
}

.post__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
}
@media screen and (min-width: 640px) {
  .post__content {
    -ms-grid-columns: 3fr 1rem 1fr;
    grid-template-columns: 3fr 1fr;
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    text-align: left;
    grid-column-gap: 1rem;
  }
  .post__content > *:nth-child(1) {
    -ms-grid-row:1;
    -ms-grid-column:1;
  }
  .post__content > *:nth-child(2) {
    -ms-grid-row:1;
    -ms-grid-column:3;
  }
  .post__content > *:nth-child(3) {
    -ms-grid-row:2;
    -ms-grid-column:1;
  }
  .post__content > *:nth-child(4) {
    -ms-grid-row:2;
    -ms-grid-column:3;
  }
}
@media screen and (min-width: 1024px) {
  .post__content {
    grid-column-gap: 2rem;
  }
}

.post__title {
  font-size: var(--font-size-h2);
  margin-bottom: 1.5rem;
  color: #ffffff;
}
.post__title:hover {
  color: #ffbfd1;
}

.post__text {
  color: #ffbfd1;
}
.post__text a {
  color: #ffffff;
  font-weight: 600;
  display: inline;
}
.post__text a i {
  margin-left: 0.3rem;
}
.post__text a:hover {
  color: #8f0029;
}

.post__data {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-bottom: 1.5rem;
  display: inline-block;
}
.post__data time {
  color: #ffffff;
  font-weight: 600;
  margin-top: 0.7rem;
}
@media screen and (min-width: 640px) {
  .post__data {
    display: block;
  }
}
.post__data span {
  margin: 0;
}
.post__data span::before {
  content: "/";
}
@media screen and (min-width: 640px) {
  .post__data span::before {
    content: "";
  }
}
@media screen and (min-width: 640px) {
  .post__data {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-bottom: 0;
    margin-top: 0.7rem;
  }
}

/* Process */
.process__title {
  color: #6E6E6E;
  font-size: var(--font-size-h2-medium);
}

.process__box {
  color: #6E6E6E;
  display: -ms-grid;
  display: grid;
  text-align: left;
}
@media screen and (min-width: 640px) {
  .process__box {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .process__box {
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Team */
.team__title {
  color: #6E6E6E;
  font-size: var(--font-size-h2-medium);
}

.team__box {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  color: #6E6E6E;
}
@media screen and (min-width: 640px) {
  .team__box {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .team__box {
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

.team__description {
  margin: 0.5rem 0 0.8rem 0;
}
.team__description span {
  margin: 0;
}

/* Social media */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--font-size-small);
}
.social .social__item {
  margin-right: 1.5rem;
}
.social .social__item:last-of-type {
  margin: 0;
}
.social .social__link {
  color: #89909B;
}
.social .social__link:hover {
  color: #e32249;
}
.social .social__link--second {
  color: #e32249;
}
.social .social__link--second:hover {
  color: #ffffff;
}

.text-header {
  color: #6E6E6E;
  display: -ms-grid;
  display: grid;
}
@media screen and (min-width: 1024px) {
  .text-header {
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
.text-header__text {
  grid-column: 2/-1;
}

/* comment */
.comment__text p {
  margin: 0;
}
@media screen and (min-width: 640px) {
  .comment__text {
    grid-column: 1/-1;
  }
}

/* Form */
.box-comment, .form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 640px) {
  .form__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem;
  }
  .form__box .form__input {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin: 0;
  }
  .form__box .form__label {
    margin: 0;
  }
  .form__box .form__label--top {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 1rem;
  }
  .form__box .button {
    margin-left: 20%;
  }
}

.form__label {
  color: #ffffff;
  margin-bottom: 1rem;
}
.form__label span {
  margin: 0;
  color: #e32249;
}

.form__label--comment {
  color: #6E6E6E;
  font-weight: 600;
}

.form__input {
  border: none;
  background-color: #3F464B;
  margin-bottom: 1.5rem;
  color: #ffffff;
  padding: 1rem;
}
.form__input:focus {
  background-color: #e32249;
}

.button {
  text-transform: uppercase;
  border: none;
  background-color: #e32249;
  color: #ffffff;
  padding: 1rem;
  width: 40%;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.button:hover {
  background-color: #ffffff;
  color: #191b1d;
}

.form__error {
  color: #e32249;
}

.form__none {
  display: none;
}

.form__is-active {
  display: block;
}

/* Post Public */
@media screen and (min-width: 640px) {
  .post-public__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .post-public__header .post-public__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    border-right: 1px solid #89909B;
  }
  .post-public__header .post-public__date span {
    margin: 0.3rem;
    font-weight: 600;
  }
  .post-public__header .post-public__title {
    padding-right: 5rem;
  }
}

.post-public__title {
  font-weight: 400;
  line-height: 1.1;
  color: #151719;
  padding-left: 1rem;
}

/* Post content */
.post-public__content {
  margin-top: 2rem;
  color: #6E6E6E;
}
@media screen and (min-width: 640px) {
  .post-public__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% auto 10%;
    grid-template-columns: 15% auto 10%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .post-public__content > *:nth-child(1) {
    -ms-grid-row:1;
    -ms-grid-column:1;
  }
  .post-public__content > *:nth-child(2) {
    -ms-grid-row:1;
    -ms-grid-column:2;
  }
  .post-public__content > *:nth-child(3) {
    -ms-grid-row:1;
    -ms-grid-column:3;
  }
  .post-public__content > *:nth-child(4) {
    -ms-grid-row:2;
    -ms-grid-column:1;
  }
  .post-public__content > *:nth-child(5) {
    -ms-grid-row:2;
    -ms-grid-column:2;
  }
  .post-public__content > *:nth-child(6) {
    -ms-grid-row:2;
    -ms-grid-column:3;
  }
}

.post-public__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.post-public__author {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  border-top: 1px solid #89909B;
  border-bottom: 1px solid #89909B;
  padding: 2rem 0;
}

@media screen and (min-width: 640px) {
  .comment-two__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% auto 10%;
    grid-template-columns: 10% auto 10%;
  }
}

.comment-two__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

.reply {
  margin-left: 4rem;
}

.comment-two {
  justify-items: start;
}

@media screen and (min-width: 640px) {
  .comment-two__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.comment-two__img {
  display: none;
}
@media screen and (min-width: 640px) {
  .comment-two__img {
    display: block;
  }
}

.comment-two__date {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.comment-two__date span {
  margin: 0;
  color: #e32249;
  font-weight: 600;
}
.comment-two__date time::after {
  content: "/";
  padding: 0 0.3rem;
}

.comment-two__text {
  border-bottom: 1px solid #89909B;
}

/* Author */
@media screen and (min-width: 640px) {
  .author__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.author__text p {
  margin: 0;
}

.comment-form__container {
  margin-top: 2rem;
}
@media screen and (min-width: 640px) {
  .comment-form__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 2fr 1fr;
    grid-template-columns: 5% 2fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .comment-form__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 1fr 1fr;
    grid-template-columns: 15% 1fr 1fr;
  }
}